<div class="grid col-span-10 pt-5 justify-center space-x-16">
  <img class="col-start-3 w-52 h-44" src="./images/dish01.jpg" alt="">
  <img class="col-start-4 w-52 h-44" src="./images/dish02.jpeg" alt="">
  <img class="col-start-5 w-52 h-44" src="./images/dish03.jpg" alt="">
  <img class="col-start-6 w-52 h-44" src="./images/dish04.jpg" alt="">
</div>


<div class="flex pt-5 z-0">
  <div class="max-w-7xl mx-auto rounded overflow-hidden shadow-lg flex-1 border-double border-4 border-black menu-item">


      <div class="flex pt-2">
        <div class="max-w-7xl mx-auto rounded overflow-hidden shadow-lg flex-1 ">
          <div class="px-6 py-4">
            <div class="mb-2 text-center font-serif font-black text-4xl tracking-wider menu-category">Entries</div>
            <p class="text-gray-700 text-base">
              <ul class="menu-lists">
                <li>
                  Creamy Poblano Corn Chowder or Chicken Tortilla Soup
                </li>
                <li>
                  Seared Ahi Tuna Salad
                </li>
                <li>
                  Gulf Shrimp Cocktail
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="flex pt-2">
        <div class="max-w-7xl mx-auto rounded overflow-hidden shadow-lg flex-1">
          <div class="px-6 py-4">
            <div class="mb-2 text-center font-serif font-black text-4xl tracking-wider">Main courses</div>
            <p class="text-gray-700 text-base">
              <ul class="menu-lists">
                <li>
                  Local Fillet Steak, Pomme Puree, Lumpfish Caviar & Horseradish Buttermilk
                </li>
                <li>
                  Medium Rare Duck Breast with Liver Pate, Mandarin Segments & Quince
                </li>
                <li>
                  Rack of Lamb, Roasted Black Fig, Lamb Belly, Parsnip Puree & Zany Zeus Yoghurt
                </li>
                <li>
                  Catch of the Day, Baked with Poached Scallops, Cauliflower& a Tomato and Caper Salsa
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="flex pt-2">
        <div class="max-w-7xl mx-auto rounded overflow-hidden shadow-lg flex-1">
          <div class="px-6 py-4">
            <div class="mb-2 text-center font-serif font-black text-4xl tracking-wider">desserts</div>
            <p class="text-gray-700 text-base">
              <ul class="menu-lists">
                <li>
                  Raspberry Chocolate Tart with Creme Fraiche
                </li>
                <li>
                  Rose Petal Panna Cotta, Fresh Milk Curds & Black Sugar
                </li>
                <li>
                  Fig Leaf Custard, Fresh Fig, Honey Comb & Lemon Sorbet
                </li>
                <li>
                  Warm Apple Cake, Chamomile Anglaise & Vanilla ice Cream
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="flex pt-2">
        <div class="max-w-7xl mx-auto rounded overflow-hidden shadow-lg flex-1">
          <div class="px-6 py-4">
            <div class="mb-2 text-center font-serif font-black text-4xl tracking-wider">Cellar</div>
            <p class="text-gray-700 text-base">
              <ul class="menu-lists">
                <li>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                </li>
                <li>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                </li>
                <li>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                </li>
                <li>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>

  </div>
</div>
