<div class="grid col-span-10 pt-5 justify-center space-x-16">
  <img class="col-start-3 w-52 h-44" src="./images/dish01.jpg" alt="">
  <img class="col-start-4 w-52 h-44" src="./images/dish02.jpeg" alt="">
  <img class="col-start-5 w-52 h-44" src="./images/dish03.jpg" alt="">
  <img class="col-start-6 w-52 h-44" src="./images/dish04.jpg" alt="">
</div>

