



   <nav class="container mx-auto p-5">
    <div class="flex justify-between bg-gray-600">
    <div><a><img width="75" height="75" src="./images/logo_size.jpg" alt=""></a></div>
    <div class="p-4">
      <a>
      <button id="edit-menu" class="p-2 bg-gray-500 hover:bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 ring-gray-300 ring-offset-2">
        Edit menu
      </button>
      </a>
    </div>
    <div class="p-4">
      <a>
        <button id="add-menu" class="p-2  bg-gray-500 hover:bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 ring-gray-300 ring-offset-2">
          Add menu Item
        </button>
      </a>
    </div>
    <div class="p-4">
      <a>
        <button id="show-order" class="p-2  bg-gray-500 hover:bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 ring-gray-300 ring-offset-2">
          Show orders
        </button>
      </a>
    </div>
    <div class="p-4">
      <a>
        <button id="button-logout" class="p-2  bg-red-700 hover:bg-red-600 text-white rounded-md focus:outline-none focus:ring-2 ring-gray-300 ring-offset-2">
          Logout
        </button>
      </a>
    </div>
          <!-- Target in app.js for navbar content -->
     <div class="flex flex-row" id="navbar">

    </div>
  </div>
 </nav>




