<link rel="stylesheet" href="/styles/cart.css" type="text/css" />

<div class="backdrop">
<form id="form1">

  <h1>Your Order Below:</h1>


<table id="checkout-cart" class="shopping-cart">
    <tbody>
      <p id="food">Food Item:  </p>

      <!-- <p id="price">Price:  </p> -->

      <p id="quantity">Quantity: </p>
    </tbody>
</table>

<div id="pricing">
    <!-- <p id="taxes">
        <strong>Taxes</strong>: <span id="sshipping"></span>
    </p> -->

    <p id="total">
        <strong>Total: $ </strong> <span id="stotal"></span>
    </p>
</div>


<form>
  <input type="submit"class="btn" value="Pay Now" />
</form>


</form>
</div>
