<link rel="stylesheet" href="/styles/footer.css" type="text/css" />

<footer>
  <div class="bg-gray-600 p-5">

    <div class="container footer-elements">
      <p>Order Status: Ready For Pickup</p>

      <button type="button" id="formButton">Check Cart</button>
      <form id="form1">
        <div class="container mt-5 mb-5">
          <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-7">
              <div class="border border-gainsboro p-3">

                <h2 class="h6 text-uppercase mb-0">Cart Total [COUNT items here]: <strong class="cart-total">[Subtotal of Items here]</strong></h2>
              </div>

              <div class="border border-gainsboro p-3 mt-3 clearfix item">
                <div class="text-lg-left">
                  <i class="fa fa-ticket fa-2x text-center" aria-hidden="true"></i>
                </div>
                <div class="col-lg-5 col-5 text-lg-left">
                  <h3 class="h6 mb-0">Item 1<br>
                    <small>Cost: $50.00/ea</small>
                  </h3>
                </div>

                <div class="pass-quantity col-lg-3 col-md-4 col-sm-3">
                  <label for="pass-quantity" class="pass-quantity">Quantity</label>
                  <input class="form-control" type="number" value="1" min="1">
                </div>
                <div class="col-lg-2 col-md-1 col-sm-2 product-line-price pt-4">

                </div>
                <div class="remove-item pt-4">
                  <button class="remove-product btn-light">
                    Delete
                  </button>
                </div>
              </div>


            </div>

            <div class="col-xl-3 col-lg-4 col-md-5 totals">
              <div class="border border-gainsboro px-3">
                <div class="border-bottom border-gainsboro">
                  <p class="text-uppercase mb-0 py-3"><strong>Order Summary</strong></p>
                </div>
                <div class="totals-item d-flex align-items-center justify-content-between mt-3">
                  <p class="text-uppercase">Subtotal</p>
                  <p class="totals-value" id="cart-subtotal">50</p>
                </div>
                <div class="totals-item d-flex align-items-center justify-content-between">
                  <p class="text-uppercase">Estimated Tax</p>
                  <p class="totals-value" id="cart-tax">3.60</p>
                </div>
                <div class="totals-item totals-item-total d-flex align-items-center justify-content-between mt-3 pt-3 border-top border-gainsboro">
                  <p class="text-uppercase"><strong>Total</strong></p>
                  <p class="totals-value font-weight-bold cart-total">53.60</p>
                </div>
              </div>
              <a href="#" class="mt-3 btn btn-pay w-100 d-flex justify-content-between btn-lg rounded-0">Pay Now <span class="totals-value cart-total">Subtotal of Items here</span></a>
            </div>
          </div>
        </div>
      </form>

      <p>Total: $102.31 </p>
    </div>
  </div>

</footer>
