<link rel="stylesheet" href="/styles/footer.css" type="text/css" />

<footer>
  <div class="bg-gray-600 p-5">

    <div class="container footer-elements">
      <p>Order Status: Ready For Pickup</p>
      <div class="cart-button">
      <button
        type="button"
        id="formButton"
        class="p-2 bg-gray-500 hover:bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 mr-40 ring-gray-300 ring-offset-2"
        ><i class="fas fa-shopping-cart"></i> Check Cart <i class="fas fa-shopping-cart"></i></button>
      </div>

      <p>Total: $  <span id="sub-total"> </span></p>
    </div>
  </div>

</footer>
