<link rel="stylesheet" href="/styles/footer.css" type="text/css" />

<footer>
  <div class="bg-gray-600 p-5">

    <div class="container footer-elements">
      <p>Order Status: Ready For Pickup</p>

      <button type="button" id="formButton">Check Cart</button>


      <p>Total: $  <span id="sub-total"> </span></p>
    </div>
  </div>

</footer>
