<!DOCTYPE html>
<html lang="en">
<%- include('./header.ejs') %>
<%- include('./navbar.ejs') %>
 <!-- Target in app.js for body content -->
 <div class="bodyContent z-10">
  <%- include('./partials/menu.ejs') %>
 </div>
 <!-- Target in app.js for bottom cart content -->
 <div class="cartElement"></div>
 <!-- Target in app.js for bottom status bar -->
 <div class="bottomBar"></div>
 <%- include('./footer.ejs') %>
</html>
