<!DOCTYPE html>
<html lang="en">

<%- include('./header.ejs') %>

<%- include('./navbar.ejs') %>

<%- include('./footer.ejs') %>

 <!-- Target in app.js for body content -->
 <div class="bodyContent"></div>
 <!-- Target in app.js for bottom cart content -->
 <div class="cartElement"></div>
 <!-- Target in app.js for bottom status bar -->
 <div class="bottomBar"></div>

</html>
