
<div class="container mx-auto bg-gray-600 p-5">
  <nav class="flex justify-between">
    <div><a>My compagny name</a></div>
  <ul class="flex flex-row">
    <li class="pr-5"><a >Login </a></li>
    <li class="pr-5"><a >Register</a></li>
  </ul>
  </nav>
</div>
