
<div class="container mx-auto bg-gray-600 p-5">
  <nav class="flex justify-between">
    <div><a><img width="75" height="75" src="./images/logo_size.jpg" alt=""></a></div>
  <ul class="flex flex-row">
    <li class="p-5"><a  href="/login">Login </a></li>
    <li class="p-5"><a >Register</a></li>
  </ul>
  </nav>
</div>
