
<div class="container mx-auto bg-gray-600 p-5">
  <nav class="flex justify-between">
    <div><a><img width="45" height="45" src="./images/672630-200.png" alt=""></a></div>
  <ul class="flex flex-row">
    <li class="p-3"><a >Login </a></li>
    <li class="p-3"><a >Register</a></li>
  </ul>
  </nav>
</div>
