<style>
  .modal {
    transition: opacity 0.25s ease;
  }
  body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
  }
</style>

<body>

  <nav class="container mx-auto p-5">
    <div id="navbar" class="flex justify-between bg-gray-600">
    <img id="logo" src="./images/logo_size.jpg" alt="">
      <% if (!logged_in) { %>
      <button class="modal-open bg-transparent border border-gray-500 hover:border-indigo-500 text-gray-500 hover:text-indigo-500 font-bold py-2 px-4 rounded-full" id="login-button" style="
      color:  white;">Log in</button>
      <% } else { %>
      <p>Welcome to Lux : <%= username %></p>
      <button class="bg-transparent border border-gray-500 hover:border-indigo-500 text-gray-500 hover:text-indigo-500 font-bold py-2 px-4 rounded-full" id="logout-button" style="
      color:  white;" >Log out</button>
        <% } %>
  </div>
  <nav>

  <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center z-20">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

      <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
        <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
          <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
        </svg>
        <span class="text-sm">(Esc)</span>
      </div>

      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="modal-content py-4 text-left px-6">
        <!--Title-->


        <!--Body of Open User Login Form -->
        <div>
          <form method="POST" action="/login" id="login-form">
            <div class="userform-group">
              <label for="email">email:</label>
              <input class="form-control" type="email" name="email" placeholder="Enter userID here" style="width: 300px">
            </div>
            <div class="userform-group">
              <label for="password">Password:</label>
              <input class="form-control" type="password" name="password" placeholder="Enter password here" style="width: 300px">
            </div>

            <div class="flex justify-end pt-2">
              <button type="submit" class="modal-submit px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2">Login</button>
            </div>


            </form>
            <button class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Close</button>
          </div>

      </div>
    </div>
  </div>

</body>
