<html lang="en">
<%- include('./partials/owner-header.ejs') %>
<%- include('./partials/owner-navbar.ejs') %>
 <!-- Target in app.js for body content -->
<div class="body-parent">
  <div class="owner-body ml-5 mr-5"></div>
</div>

<%- include('./partials/owner-body.ejs')  %>
