<html lang="en">
<%- include('./partials/owner-header.ejs') %>
<%- include('./navbar.ejs') %>
 <!-- Target in app.js for body content -->

<div class="owner-body">

</div>
<%- include('./partials/owner-body.ejs')  %>
