<html lang="en">
<%- include('./partials/owner-header.ejs') %>
<%- include('./partials/owner-navbar.ejs') %>
 <!-- Target in app.js for body content -->
<div class="body-parent">
  <div class="owner-body ml-5 mr-5"></div>
    <div class="popopholder m-5 absolute w-full top-0 pl-12 pr-12 pt-40">
      <div class="popup"></div>
    </div>

</div>

<%- include('./partials/owner-body.ejs')  %>
