.backdrop {
  background-color: #66a6b4;
  color: floralwhite;
}

.delete {
  color: #00ff14
}

h1, #food, #quantity, #total, #Pay {
  display: flex;
  justify-content: center;

}

#food, #quantity {
  flex-direction: column;
  align-items: center;
  font-size: large;
}

#title {
 font-size: x-large;
 font-weight: bolder;
}


#total {
color: #244751;
font-size: x-large;
font-weight: bold;
}


