.cart-style {
  background-image: url("../images/texture06.jpg");
  opacity: 0.85;
}



h1, #food, #quantity, #total, #Pay {
  display: flex;
  justify-content: center;

}

#food, #quantity {
  flex-direction: column;
  align-items: center;
  font-size: large;
}

#title {
 font-size: x-large;
 font-weight: bolder;
}


#total {
color: #244751;
font-size: x-large;
font-weight: bold;
}

.paynow {
  text-align: -webkit-center;
}

.cart-container {
  text-align: -webkit-center;
}


