

.footer-elements {
  display: flex;
  justify-content: space-between;
  color: floralwhite;
  align-items: center;
}

#form1 {
  display:none;
}

/* footer {
  position: fixed;
  bottom: 1rem;
  width: 75vw;
} */
